<h1>Greetings from Upstrapp</h1>
<h2>Password recovery request</h2>
<p>
  Hello {{ user.firstName }}{{ user.lastName }}, it seems someone requested a password recovery
  for your account registered with the email {{ user.email }}.
</p>

<p>
  If it was you, just click this
<a href="http://192.168.1.152:3030/users/resetPassword/{{token}}/{{user.email}}">link</a>
</p>

<p>
  If it wasn't you then we recommend you to change your password. Someone may
  have stolen it. 🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️
</p>
